@charset "UTF-8";

.page {
  padding: 30px 40px 80px 40px;

  .body {
    position: relative;

    height: 721px;
    display: flex;
    flex-direction: column;
    padding-top: 16px;
    // align-items: center;
  }

  .balance-button {

    margin-bottom: 30px;
    // width: 343px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    .total-ctc-balance {
      font-family: "Inter", sans-serif;
      font-weight: 600;
      font-size: 15px;
      letter-spacing: -1%;
      line-height: 150%;
      color: #888A8C;
    }

    .balancedisplay {
      font-family: "Inter", sans-serif;
      font-size: 36px;
      font-weight: 600;
      letter-spacing: 0%;
      line-height: 115%;
      display: flex;
      height: 48px;
      align-items: center;

    }

    .balancebuttondiv {
      width: 100%;
      display: flex;
      justify-content: center;
      gap: 5px;
      flex-wrap: wrap;
      row-gap: 5px;

      button {

        width: calc(50% - 10px);


      }
    }

    .balancebutton {
      background-color: #1EEEAF;
      font-family: "Inter", sans-serif;
      font-weight: 600;
      font-size: 15px;
      line-height: 150%;
      letter-spacing: -1%;
      color: black;
      width: 167.5px;
      height: 42px;
      border-radius: 20px;
    }
  }



  .banner-div {
    display: flex;
    flex-direction: column;

    .banner-pagination {
      width: 42px;
      height: 6px;
      align-self: center;
      margin-top: 12px;
    }

    .banner {
      // width: 343px;
      height: 106px;
      background-color: #282A2C;
      border-radius: 8px;
      display: flex;
      justify-content: space-evenly;

      .banner-text {
        margin-left: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
      }

      .bannertext1 {
        font-family: "Inter", sans-serif;
        font-weight: 600;
        font-size: 13px;
        color: #888A8C;
        padding-top: 5px;
      }

      .bannertext2 {
        padding-top: -10px;
        font-family: "Inter", sans-serif;
        font-weight: 600;
        font-size: 13px;
      }
    }
  }


  .tab-absolute {
    // width: 343px;
    height: 50px;
    display: flex;
    align-content: flex-start;
    gap: 20px;
    margin-top: 16px;
    line-height: 150%;
    letter-spacing: -1%;

    .selected-tab-option {
      font-family: "Inter", sans-serif;
      font-weight: 600;
      font-size: 17px;
    }

    .unselected-tab-option {
      font-family: "Inter", sans-serif;
      font-weight: 600;
      font-size: 17px;
      color: #888A8C;

    }

  }

  .list-empty {
    // width: 343px;
    height: 210px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .list-empty-graphic {
      height: 74px;
    }

    .empty-cryptos {
      margin-top: 23px;
      margin-bottom: 16px;
    }

    .add-token-button {
      width: 106px;
      height: 36px;
      border-radius: 500px;
      border: 1px solid #888A8C;
    }
  }

  header.heading {
    display: flex;
    justify-content: space-between;
  }

  .stack {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .scan-alarm{
    display: flex;
    justify-content: space-evenly;
    width: 15%;
  }

  .address-copy {
    display: flex;
  }

  .copy-message {
    font-family: "Inter", sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #888A8C;
  }

  .wallets {
    width: 247px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 16px;
  }

  .heading-nav {
    z-index: 1;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: #282A2C;

    width: 100%;

    .tab-bar {


      margin: 6.5px 0 20px 0;

      display: flex;
      justify-content: space-between;

      .tab-bar-img {

        width: 24px;
        height: 24px;
      }

      button {
        max-width: 125px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .tab-bar-option {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #888A8C;

        .tab-bar-selected-option {
          color: #1EEEAF;

        }
      }

    }

  }

  .coin-asset-div {
    margin: 5px 0 5px 0;
    align-items: center;
    display: flex;
    width: 100%;
    justify-content: space-between;

    .coin-asset {
      img {
        width: 40px;
        margin-right: 8px;
      }

      display: flex;

      .coin-asset-text {
        flex-direction: column;

        .coin-asset-ticker {
          font-weight: 600;
          font-size: 16px;
        }

        .coin-asset-fullname {
          color: #888A8C;
          font-weight: 400;
          font-size: 13px;

        }



        font-family: "Inter",
        sans-serif;

      }
    }
  }

  .coin-asset-amount {
    font-family: "Inter", sans-serif;

    font-weight: 600;
    font-size: 16px;

  }



}