@charset "UTF-8";

.page {
    padding: 30px 40px 80px 40px;

    .heading {
        width: 100%;
        height: 48px;
        display: flex;
        justify-content: space-between;
        flex: 1;
        font-weight: 700;
        font-size: 20px;
        color: white;
    }


    .currency-btn {
        display: flex;
        width: 293px;
        height: 58px;
        border-radius: 500px;
        border: 1px solid #888A8C;
        justify-self: center;
        align-items: center;
        flex: 1;
        justify-content: space-between;
        padding: 16px 20px 16px 20px;

        img {
            width: 28px;
            height: 28px;
        }

        font-family: "Inter",
        sans-serif;
        font-weight: 700;
        font-size: 15px;
        color: white;
    }

    .send-amount {
        margin-top: 20px;
        display: flex;

        justify-self: center;

        font-family: "Inter", sans-serif;
        font-weight: 600;
        font-size: 60px;
        color: white;
    }

    .balance {
        margin-top: 16px;
        display: flex;
        justify-self: center;


    }


    .numpad {
        margin-bottom: 82px;

        position: fixed;
        bottom: 0;
        right: 0;
        left: 0;

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 60px);
        gap: 8px;

        .num {
            font-family: "Inter", sans-serif;
            font-weight: 600;
            font-size: 28px;
            color: white;
        }
    }

    .next-btn {
        justify-self: center;
        margin-bottom: 20px;
        position: fixed;
        bottom: 0;
        right: 0;
        left: 0;

        width: 90%;
        height: 42px;
        border-radius: 20px;

        background-color: #1EEEAF;
        font-family: "Inter", sans-serif;
        font-weight: 600;
        font-size: 15px;
        line-height: 150%;
        letter-spacing: -1%;
        color: black;
    }




    .currency-btn-txt {
        display: flex;

    }

    .next-btn.disabled {
        opacity: 0.4;
        cursor: not-allowed;
        pointer-events: none;
    }



    .send-amount {
        text-align: center;
    }










    .currency-label {
        position: relative;
        display: flex;
        align-items: center;
        padding: 9px;
        border: 1px solid #222;
        border-radius: 100px;
        background-color: $baseColor;
        min-width: 120px;
        font-size: 16px;

        &[type="button"] {
            padding-right: 16px;
            min-width: 143px;

            .name {
                margin-right: 10px;
            }

            &::after {
                margin-top: -4px;
                margin-left: auto;
                display: block;
                width: 8px;
                height: 8px;

                border: {
                    width: 2px 0 0 2px;
                    style: solid;
                    color: #fff;
                }

                ;
                transform: rotate(-135deg);
                content: "";
            }
        }

        &.select {
            column-gap: 10px;
            padding: 14px 16px 13px;
            border: none;
            background-color: $neonGreen;
            color: $baseColor;
            font-family: 'SF-Pro-B';
            letter-spacing: -0.01em;
            @include font-size(18px);

            &::after {
                border-color: $baseColor;
            }
        }

        .token {
            flex-shrink: 0;
        }

        .name {
            margin-left: 8px;
            font-family: 'SF-Pro-B';
            @include font-size(18px);
        }
    }

    .currencies {
        display: flex;
        gap: 6px;
        padding-bottom: 20px;

        .currency-label {
            padding: 7px 11px 7px 7px;
            border: 1px solid #383838;
            border-radius: 100px;

            &:hover {
                border-color: #565656;
                background-color: #292929;
            }

            .full {
                +span {
                    color: #999;
                    @include textCaption();
                }
            }
        }
    }

    .currency-list-wrap {
        margin: -10px 0;

        .currency-label {
            width: calc(100% + 40px);
            margin: 0 -20px;
            padding: 10px 20px;
            text-align: left;
            min-width: unset;
            border: none;
            border-radius: unset;
            background: none;

            &::after {
                display: none;
            }

            &:hover {
                background-color: #292929;
            }

            &:disabled {
                pointer-events: none;
                background-color: none;
                opacity: .2;
            }
        }

        .name {
            margin-left: 10px;

            .full {
                +span {
                    display: block;
                    color: #999;
                    @include textCaption();
                }
            }
        }
    }




    .token {
        position: relative;
        // overflow: hidden;
        border-radius: 100%;

        &::before {
            display: block;
            width: 100%;
            height: 100%;
            content: "";
        }

        &:not(.CTC) {
            &::after {
                position: absolute;
                right: -2px;
                bottom: 0;
                width: 42.9%;
                height: 42.9%;
                background-size: contain;
                background-position: center;
                content: "";
            }
        }

        $tokens: GCRE, ETH, CTC, GATE, WCTC, USDC, USDT, Wrapped, Mint, Default, USDC-T, USDT-T;

        @each $token in $tokens {
            &.#{$token} {
                &::before {
                    @include background-image(token, 'token-#{$token}');
                    background-size: contain;
                }
            }
        }

        @for $i from 8 through 50 {
            &[data-token-size="#{$i}"] {
                width: #{$i}px;
                height: #{$i}px;
            }
        }
    }

    .token-wrap {
        position: relative;

        .token {
            flex-shrink: 0;
        }

        .half {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;

            &::before {
                width: 13px;
                background-size: cover;
            }

            &::after {
                display: none;
                left: 3px;
            }

            &:nth-child(2) {
                position: absolute;
                top: 0;
                left: 15px;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;

                &::before {
                    width: 13px;
                    background-position: 100% 0;
                }

                &::after {
                    display: block;
                }
            }
        }

        &:has(.double) {
            display: flex;
        }

        .double {
            +.double {
                margin-left: -5px;
            }
        }

        .sm {
            position: absolute;
            right: -2px;
            bottom: 0;
        }
    }



    .settings-wrap {
        position: relative;
        display: flex;
        align-items: center;
        margin-left: auto;
    }

    .button-setting {
        flex-shrink: 0;
        display: flex;
        align-items: center;
        column-gap: 6px;
        padding: 10px 14px;
        text-align: center;
        cursor: pointer;
        @include textBody(textBody3);

        &::after {
            display: inline-block;
            width: 20px;
            height: 20px;
            @include background-image(null, 'ico-setting');
            content: "";
        }

        &:has(.dialog) {
            padding: 10px 14px;
            background-color: #121416;
            border-radius: 100px;
            color: #666;

            &:has(.caution) {
                background-color: #FFC40019;
                color: #FFC4007f;
            }

            // &:has(.clear) {
            //   color: $neonGreen;
            //   background: none;
            // }
        }
    }

    .settings-wrap:has(#settingsCheck[type="checkbox"]:checked) {
        .settings-menu {
            display: block;
        }
    }

    .settings-menu {
        display: none;
        z-index: 90;
        position: absolute;
        top: 55px;
        right: 4px;
        width: 320px;
        padding: 18px;
        border: 1px solid $borderColor;
        background-color: $baseColor;

        &::before {
            position: absolute;
            top: -5px;
            right: 12px;
            width: 10px;
            height: 10px;
            border: 1px solid $borderColor;
            border-width: 1px 0 0 1px;
            background-color: $baseColor;
            transform: rotate(45deg);
            content: "";
        }

        &.open {
            display: block;
        }
    }

    .settings-item {
        @include textBody(textBody3);

        button {
            @include textBody(textBody3);
        }

        +.settings-item {
            margin-top: 20px;
            padding-top: 19px;
            border-top: 1px solid #222;
        }

        .row {
            display: flex;
            align-items: center;
            column-gap: 10px;

            .rt {
                margin-left: auto;
            }
        }

        .title {
            display: flex;
            align-items: center;

            .text {
                color: #999;
            }

            .ico-question {
                margin-left: 3px;
            }
        }

        .check-toggle {
            display: flex;
            align-items: center;
            cursor: pointer;

            &::after {
                display: block;

                margin: {
                    top: -4px;
                    left: 10px;
                }

                ;
                width: 8px;
                height: 8px;

                border: {
                    width: 2px 2px 0 0;
                    style: solid;
                    color: #999;
                }

                ;
                transform: rotate(135deg);
                transition: transform 0.25s ease 0s;
                content: "";
            }
        }

        &:has(.check-toggle input[type="checkbox"]:checked) {
            .check-toggle {
                &::after {
                    margin-top: 2px;
                    transform: rotate(-45deg);
                }
            }

            .detail {
                padding-top: 20px;
                height: max-content;
            }
        }

        .detail {
            height: 0px;
            overflow: hidden;
            width: 100%;
            min-width: min-content;
            will-change: height;

            // &.expand {
            //   padding-top: 20px;
            //   height: max-content;
            // }
        }

        .button-switch {
            display: flex;
            align-items: center;
            column-gap: 5px;
            padding: 4px 5px;
            border: 1px solid #222;
            border-radius: 10px;

            button {
                flex: 1;
                height: 38px;
                padding: 10px 12px 9px;

                &.active {
                    border-radius: 8px;
                    background-color: #1D2021;
                }
            }
        }

        .input-area {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            column-gap: 10px;

            // padding: 15px 15px 14px;
            padding: {
                right: 15px;
                left: 15px;
            }

            ;
            min-width: 112px;
            height: 48px;
            border: 1px solid #222;
            border-radius: 10px;

            input {
                flex: 1;

                padding: {
                    top: 15px;
                    bottom: 14px;
                }

                ;
                width: 56px;
                height: 46px;
                text-align: right;
                @include textBody(textBody3);

                &::placeholder {
                    color: #fff;
                    opacity: .2;
                }
            }

            input[type="number"] {
                -moz-appearance: textfield;
            }

            input[type="number"]::-webkit-outer-spin-button,
            input[type="number"]::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }

            &:has(input:focus) {
                border-color: $neonGreen;
            }

            &.warning {
                border-color: $warnColor;

                &:has(input:focus) {
                    border-color: $warnColor;
                }

                input {
                    color: $warnColor;
                }
            }

            .text {
                flex-shrink: 0;
            }
        }

        .text-caution {
            margin-top: 10px;
            display: flex;
            align-items: center;
            column-gap: 6px;
            color: $cautionColor;
            @include textCaption();

            &::before {
                flex-shrink: 0;
                display: block;
                width: 21px;
                height: 18px;
                @include background-image(null, 'ico-caution');
                content: "";
            }
        }
    }
}